html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text-white {
    color: #fff;
  }